/* * {
  outline: 1px solid red;
} */

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  margin: 0 auto;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: var(--color-bg);
  color: var(--color-text);
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }
  button {
    font-size: 0.8rem;
  }
}

button {
  cursor: pointer;
  border: none;
  background: none;
  background-color: none;
  padding: 10px;
  border-radius: 5px;
}
button:hover {
  background-color: var(--color-hover);
  transition: all 0.5s ease;
}
